# Core dependencies
torch
transformers
scipy
numpy
networkx

# Model optimization
optimum
accelerate

# Visualization 
matplotlib
seaborn

# Knowledge Graph
SPARQLWrapper

# Counterfactual
sentence-transformers
rouge
textblob
scapy
